<SCRIPT type="text/javascript">
    IMAGEUPLOADDIR = 'images_upload';
    CHRONORAFRAICHISSEMENT = 10;
    ACTIONTYPEGENERIQUE = 0;
    ACTIONTYPESHOOT = 1;
    ACTIONTYPEFAUTE = 2;
    ACTIONTYPEPASSE = 3;
    ACTIONTYPEREBOND = 4;
    ACTIONTYPECONTRE = 5;
    MATCHRESULTATEQUIPE1 = 1;
    MATCHRESULTATEQUIPE2 = 2;
    MATCHRESULTATNUL = 3;
</SCRIPT>
Trop de résultats (494) : Affinez votre recherche
<BR/>

<TABLE class="tableau_recherche">
    <TR class="tableau_recherche_tr">
        <TH class="tableau_recherche_th">Photo</TH>
        <TH class="tableau_recherche_th">Nom</TH>
        <TH class="tableau_recherche_th">Date de naissance</TH>
        <TH class="tableau_recherche_th">Sexe</TH>
        <TH class="tableau_recherche_th">Equipes jouées (matchs)</TH>
        <TH class="tableau_recherche_th">Actions</TH>
    </TR>

    {% for joueur in joueurs %}
        <TR class="tableau_recherche_tr">
            <TD class="tableau_recherche_td"><IMG class="image_petite" src="{{ joueur.photo }}"></IMG></TD>
            <TD class="tableau_recherche_td">{{ joueur.prenom }}</TD> <!-- TODO prenom (prenom nom) -->
            <TD class="tableau_recherche_td">{{ joueur.naissance }}</TD>
            <TD class="tableau_recherche_td">{{ joueur.sexe }}</TD>
            {% for nom, color, id in joueur.equipes %}
                <TD class="tableau_recherche_td">

                        <A href="equipe.php?id={{ id }}" target="_blank">
                            <B>
                                <FONT color="#{{ color }}">
                                    {{ nom }}
                                </FONT>
                            </B>
                        </A>
                </TD>
            {% endfor %}
            <TD class="tableau_recherche_td"><IMG class="image_a_cliquer" onmouseover="this.style.cursor='pointer'" onclick="afficheJoueur(244);" src="images/validation.jpg"></IMG></TD>
        </TR>
    {% endfor %}

</TABLE>
