
<!-- <?php

include_once 'menu.php';

?> -->

<DIV class="corps">
    <DIV class="pleineLargeur">
        <DIV class="titre">
            Accueil
        </DIV>
    </DIV>

    <DIV class="pleineLargeur">
        <DIV class="texte" style="text-align:center;">
            Bienvenue sur le site du monobasket français.<BR/>
            Le but de celui-ci est de rassembler les documents, et les résultats des championnats, matchs, tournois de monobasket en France<BR/>
            Le site est actuellement en construction, particulièrement sur la partie design et "présentation"<BR/>
            Si vous rencontrez un bug sur le site, n'hésitez pas à m'en faire part pour correction, <A href="mailto:lmb@monocycle.info">par mail</A>
        </DIV>
    </DIV>
    <DIV class="piedDePage">
        <BR/>
        Copyright Julien Perrot 2013
    </DIV>
</BODY>
<HTML>
