{% load static %}


{% include "menu.jinja" %}

<SCRIPT src="{% static "ajax/joueurs.js" %}" type="text/javascript"></SCRIPT>

<DIV class="corps">
    <DIV class="pleineLargeur">
        <DIV class="titre">
            Les joueurs
        </DIV>
    </DIV>

    <DIV class="pleineLargeur">
        <DIV class="texte">
            Chercher un joueur : <INPUT class="champTexte" id="joueurs.recherche.joueur" type="text" maxlength="255" size="8" oninput="chargeListeJoueurs();"><BR/><DIV id="joueurs.liste" class="texte"></DIV><DIV id="joueurs.message" class="texte"></DIV><BR/>        </DIV>
    </DIV>

        <DIV class="piedDePage">
            <BR/>
            Copyright Julien Perrot 2013
        </DIV>
    </BODY>
<HTML>



<!-- Chargement des diverses parties de la page -->
<SCRIPT type="text/javascript">chargeListeJoueurs();</SCRIPT>
